

{%extends 'base.html'%}
{% load static %}
{%block content%}

<!--

  this data needs to be queried in. Ideally a list of the 19 people who only prescribe opioids. 

**Who is currently prescribing only opioids? (This returns a list of NAMES)

select p.fname, p.lname from prescriber p
where p.npi not in (select distinct npi from prescriberdrug pd
join drug d on pd.drugid = d.drugid
where isopioid = false);

**Who is currently prescribing only opioids? (This returns the running total of people prescribing only opioids)

select count(*) from prescriber p
where p.npi not in (select distinct npi from prescriberdrug pd
join drug d on pd.drugid = d.drugid
where isopioid = false);


-->


<main class="tab-outer-container">
   <div class="text-container-tab">   
      <div class="tab-container1">
         <div class="tab-container2">
            <!--High Levels of opioids-->
            <script type='text/javascript' src='https://10ay.online.tableau.com/javascripts/api/viz_v1.js'></script>
            <div class='tableauPlaceholder' style='width: 1680px; height: 889px;'>
               <object class='tableauViz' width='1680' height='889' style='display:none;'>
                  <param name='host_url' value='https%3A%2F%2F10ay.online.tableau.com%2F' />
                  <param name='embed_code_version' value='3' />
                  <param name='site_root' value='&#47;t&#47;bennyrickersatgmailcom' />
                  <param name='name' value='opioids&#47;Prescribinghighlevelsofopioids' />
                  <param name='tabs' value='no' />
                  <param name='toolbar' value='yes' />
                  <param name='showAppBanner' value='false' /> </object>
            </div>
         </div> 
      </div>
         <div>
            <h2>Heading Text</h2>  
            <p>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!

            </p>
         </div>
   </div>
   <div class="text-container-tab">   
      <div class="tab-container1">
         <div class="tab-container2">
            <!--Specific numbers of opioid drugs-->
            <script type='text/javascript' src='https://10ay.online.tableau.com/javascripts/api/viz_v1.js'></script>
            <div class='tableauPlaceholder' style='width: 1680px; height: 889px;'>
               <object class='tableauViz' width='1680' height='889' style='display:none;'>
                  <param name='host_url' value='https%3A%2F%2F10ay.online.tableau.com%2F' />
                  <param name='embed_code_version' value='3' />
                  <param name='site_root' value='&#47;t&#47;bennyrickersatgmailcom' />
                  <param name='name' value='opioids&#47;Numberofprescribedopioiddrugs' />
                  <param name='tabs' value='no' />
                  <param name='toolbar' value='yes' />
                  <param name='showAppBanner' value='false' /> </object>
            </div>
         </div>
      </div>
         <div>
            <h2>Heading Text</h2>  
            <p>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!

            </p>
         </div>
   </div>
   <div class="text-container-tab">   
      <div class="tab-container1">
         <div class="tab-container2">
            <!--numbers of all specific drugs prescribed-->
            <script type='text/javascript' src='https://10ay.online.tableau.com/javascripts/api/viz_v1.js'></script>
            <div class='tableauPlaceholder' style='width: 1680px; height: 889px;'>
               <object class='tableauViz' width='1680' height='889' style='display:none;'>
                  <param name='host_url' value='https%3A%2F%2F10ay.online.tableau.com%2F' />
                  <param name='embed_code_version' value='3' />
                  <param name='site_root' value='&#47;t&#47;bennyrickersatgmailcom' />
                  <param name='name' value='opioids&#47;Numberofspecificdrugsprescribed' />
                  <param name='tabs' value='no' />
                  <param name='toolbar' value='yes' />
                  <param name='showAppBanner' value='false' /> </object>
            </div>
         </div>
      </div>
         <div>
            <h2>Heading Text</h2>  
            <p>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!

            </p>
         </div>
   </div>
   <div class="text-container-tab">   
      <div class="tab-container1">
         <div class="tab-container2">
            <!--opioid deaths by state-->
            <script type='text/javascript' src='https://10ay.online.tableau.com/javascripts/api/viz_v1.js'></script>
            <div class='tableauPlaceholder' style='width: 1680px; height: 889px;'>
               <object class='tableauViz' width='1680' height='889' style='display:none;'>
                  <param name='host_url' value='https%3A%2F%2F10ay.online.tableau.com%2F' />
                  <param name='embed_code_version' value='3' />
                  <param name='site_root' value='&#47;t&#47;bennyrickersatgmailcom' />
                  <param name='name' value='opioids&#47;Stateswithmostopioiddeaths' />
                  <param name='tabs' value='no' />
                  <param name='toolbar' value='yes' />
                  <param name='showAppBanner' value='false' /> </object>
            </div>
         </div> 
      </div>
         <div>
            <h2>Heading Text</h2>  
            <p>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!

            </p>
         </div>
   </div>
   
   









      
        
       
      
</main>

{%endblock%}