

{%extends 'base.html'%}
{% load static %}
{%block content%}

<!--

  this data needs to be queried in. Ideally a list of the 19 people who only prescribe opioids. 

**Who is currently prescribing only opioids? (This returns a list of NAMES)

select p.fname, p.lname from prescriber p
where p.npi not in (select distinct npi from prescriberdrug pd
join drug d on pd.drugid = d.drugid
where isopioid = false);

**Who is currently prescribing only opioids? (This returns the running total of people prescribing only opioids)

select count(*) from prescriber p
where p.npi not in (select distinct npi from prescriberdrug pd
join drug d on pd.drugid = d.drugid
where isopioid = false);


-->


<main class="tab-outer-container">
   <h1>Analysis of Opioid Prescriptions in America</h1>
   <br><br><br><br>
	<div class="text-container-tab">
		<div class="tab-container1">
			<div class="tab-container2">
				<!--High Levels of opioids-->
				<div class='tableauPlaceholder' id='viz1638753854693' style='position: relative'>
					<noscript>
						<a href='#'><img alt='Prescribers Currently Prescribing High Levels of Opioids ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;op&#47;opioids_16387538337410&#47;Prescribinghighlevelsofopioids&#47;1_rss.png' style='border: none' /></a>
					</noscript>
					<object class='tableauViz' style='display:none;'>
						<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
						<param name='embed_code_version' value='3' />
						<param name='site_root' value='' />
						<param name='name' value='opioids_16387538337410&#47;Prescribinghighlevelsofopioids' />
						<param name='tabs' value='no' />
						<param name='toolbar' value='yes' />
						<param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;op&#47;opioids_16387538337410&#47;Prescribinghighlevelsofopioids&#47;1.png' />
						<param name='animate_transition' value='yes' />
						<param name='display_static_image' value='yes' />
						<param name='display_spinner' value='yes' />
						<param name='display_overlay' value='yes' />
						<param name='display_count' value='yes' />
						<param name='language' value='en-US' />
					</object>
				</div>
				<script type='text/javascript'>
				var divElement = document.getElementById('viz1638753854693');
				var vizElement = divElement.getElementsByTagName('object')[0];
				vizElement.style.width = '100%';
				vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
				var scriptElement = document.createElement('script');
				scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
				vizElement.parentNode.insertBefore(scriptElement, vizElement);
				</script>
			</div>
		</div>
		<div>
			<h2>Heading Text</h2>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur! </p>
		</div>
	</div>
	<div class="text-container-tab">
		<div class="tab-container1">
			<div class="tab-container2">
				<!--Specific numbers of opioid drugs-->
				<div class='tableauPlaceholder' id='viz1638754263577' style='position: relative'>
					<noscript>
						<a href='#'><img alt='Number of Opioids Prescribed ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;op&#47;opioids_16387538337410&#47;Numberofprescribedopioiddrugs&#47;1_rss.png' style='border: none' /></a>
					</noscript>
					<object class='tableauViz' style='display:none;'>
						<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
						<param name='embed_code_version' value='3' />
						<param name='site_root' value='' />
						<param name='name' value='opioids_16387538337410&#47;Numberofprescribedopioiddrugs' />
						<param name='tabs' value='no' />
						<param name='toolbar' value='yes' />
						<param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;op&#47;opioids_16387538337410&#47;Numberofprescribedopioiddrugs&#47;1.png' />
						<param name='animate_transition' value='yes' />
						<param name='display_static_image' value='yes' />
						<param name='display_spinner' value='yes' />
						<param name='display_overlay' value='yes' />
						<param name='display_count' value='yes' />
						<param name='language' value='en-US' />
					</object>
				</div>
				<script type='text/javascript'>
				var divElement = document.getElementById('viz1638754263577');
				var vizElement = divElement.getElementsByTagName('object')[0];
				vizElement.style.width = '100%';
				vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
				var scriptElement = document.createElement('script');
				scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
				vizElement.parentNode.insertBefore(scriptElement, vizElement);
				</script>
			</div>
		</div>
		<div>
			<h2>Heading Text</h2>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur! </p>
		</div>
	</div>
	<div class="text-container-tab">
		<div class="tab-container1">
			<div class="tab-container2">
				<!--numbers of all specific drugs prescribed-->
				<div class='tableauPlaceholder' id='viz1638754353227' style='position: relative'>
					<noscript>
						<a href='#'><img alt='Number of Specific Drugs Prescribed ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Nu&#47;NumberofSpecificDrugsPrescribed&#47;Numberofspecificdrugsprescribed&#47;1_rss.png' style='border: none' /></a>
					</noscript>
					<object class='tableauViz' style='display:none;'>
						<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
						<param name='embed_code_version' value='3' />
						<param name='site_root' value='' />
						<param name='name' value='NumberofSpecificDrugsPrescribed&#47;Numberofspecificdrugsprescribed' />
						<param name='tabs' value='no' />
						<param name='toolbar' value='yes' />
						<param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Nu&#47;NumberofSpecificDrugsPrescribed&#47;Numberofspecificdrugsprescribed&#47;1.png' />
						<param name='animate_transition' value='yes' />
						<param name='display_static_image' value='yes' />
						<param name='display_spinner' value='yes' />
						<param name='display_overlay' value='yes' />
						<param name='display_count' value='yes' />
						<param name='language' value='en-US' />
					</object>
				</div>
				<script type='text/javascript'>
				var divElement = document.getElementById('viz1638754353227');
				var vizElement = divElement.getElementsByTagName('object')[0];
				vizElement.style.width = '100%';
				vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
				var scriptElement = document.createElement('script');
				scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
				vizElement.parentNode.insertBefore(scriptElement, vizElement);
				</script>
			</div>
		</div>
		<div>
			<h2>Heading Text</h2>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur! </p>
		</div>
	</div>
	<div class="text-container-tab">
		<div class="tab-container1">
			<div class="tab-container2">
				<!--opioid deaths by state-->
				<div class='tableauPlaceholder' id='viz1638754401292' style='position: relative'>
					<noscript>
						<a href='#'><img alt='Opioid Deaths by State ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;De&#47;Deathsbystate_16387542124020&#47;Stateswithmostopioiddeaths&#47;1_rss.png' style='border: none' /></a>
					</noscript>
					<object class='tableauViz' style='display:none;'>
						<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
						<param name='embed_code_version' value='3' />
						<param name='site_root' value='' />
						<param name='name' value='Deathsbystate_16387542124020&#47;Stateswithmostopioiddeaths' />
						<param name='tabs' value='no' />
						<param name='toolbar' value='yes' />
						<param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;De&#47;Deathsbystate_16387542124020&#47;Stateswithmostopioiddeaths&#47;1.png' />
						<param name='animate_transition' value='yes' />
						<param name='display_static_image' value='yes' />
						<param name='display_spinner' value='yes' />
						<param name='display_overlay' value='yes' />
						<param name='display_count' value='yes' />
						<param name='language' value='en-US' />
					</object>
				</div>
				<script type='text/javascript'>
				var divElement = document.getElementById('viz1638754401292');
				var vizElement = divElement.getElementsByTagName('object')[0];
				vizElement.style.width = '100%';
				vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
				var scriptElement = document.createElement('script');
				scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
				vizElement.parentNode.insertBefore(scriptElement, vizElement);
				</script>
			</div>
		</div>
		<div>
			<h2>Heading Text</h2>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur! </p>
		</div>
	</div>

   <hr>

   <h4>{{page_obj|length}} Prescribers Only Prescribing Opioids: </h4>
   <table>
      <tr class="trheader">
         <th>First Name</th>
         <th>Last Name</th>
         <th>Gender</th>
         <th>Credentials</th>
         <th>State</th>
         <th>Specialty</th>
      </tr>
      {% for prescriber in page_obj %}
         <tr>
            <th>{{prescriber.fname}}</th>
            <th>{{prescriber.lname}}</th>
            <th>{{prescriber.gender}}</th>
            <th>{{prescriber.credential}}</th>
            <th>{{prescriber.statename}}</th>
            <th>{{prescriber.specialty}}</th>
         </tr>
      {% endfor %}
   </table>









      
        
       
      
</main>

{%endblock%}