<!--video 2 starting at 15:00
start project from here
-->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div>
        <h2 class="text-left">Prescribers</h2>
    </div>
    <br>
    <form name="form" method="post" action="{% url 'updatePres' %}">
    {% csrf_token %}
    <input type="hidden" id="pres_id" name="pres_id" value="{{record.npi}}">
    <label for="fname" > First Name:</label>
    <input type="text" name="fname" id="fname" value="{{record.fname}}" autofocus>
    <br><br>

    <label for="lname" > Last Name:</label>
    <input type="text" name="lname" id="lname" value="{{record.lname}}">
    <br><br>

    <label for="gender" > Gender:</label>
    <input type="text" name="gender" id="gender" value="{{record.gender}}">
    <br><br>

    <label for="state" > State:</label>
    <input type="text" name="state" id="state" value="{{record.state}}">
    <br><br>

    <label for="specialty" > Specialty:</label>
    <input type="text" name="specialty" id="specialty" value="{{record.specialty}}">
    <br><br>

    <label for="isopioidprescriber" > Is Opioid Prescriber?</label>
    <input type="text" name="isopioidprescriber" id="isopioidprescriber" value="{{record.isopioidprescriber}}">

    <br><br>

    <label for="totalprescriptions" > Total Prescriptions:</label>
    <input type="text" name="totalprescriptions" id="totalprescriptions" value="{{record.totalprescriptions}}">
    <br><br>



    <button type="submit">Update</button>
    </form>



</div>

{% endblock %}
