{%extends 'base.html'%}
{% load static %}
{%block content%}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                
                <div class="masthead-subheading" >Recovery starts with data</div>
                <div class="masthead-heading text-uppercase" >We're here to help</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#portfolio" >Tell Me More</a>
            </div>
        </header>
        
        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">The Opioid Epidemic</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{%static 'img/2_121.png'%}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Basic Statistics</div>
                    
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{%static 'img/3-waves-2019.png'%}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">3 Waves of the Opioid Epidemic in the U.S.</div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 3-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'img/Picture1.png'%}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Children Affected by Opioids</div>
                               
                            </div>
                        </div>
                    </div>
                
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 3-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'img/19696.jpeg'%}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Financial Cost</div>
                               
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 3-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'img/US-Opiod-Deaths_SHARE.jpg'%}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Death Totals</div>
                               
                            </div>
                        </div>
                    </div>
                    
                        
                    </div>
                </div>
            </div>
        </section>


        <!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{%static 'img/close-icon.svg'%}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Basic Statistics</h2>

                                    <br><br>
                                    <img class="img-fluid d-block mx-auto" src="{%static 'img/2_121.png'%}" alt="..." />
                                    

                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Close Visual
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{%static 'img/close-icon.svg'%}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">3 Waves of the Opioid Epidemic in the U.S.</h2>

                                    <br><br>
                                    <img class="img-fluid d-block mx-auto" src="{%static 'img/3-waves-2019.png'%}" alt="..." />
                                    <p style="text-align:left;">
                                        From 1999–2019, nearly 500,000 people died from an overdose involving any opioid, including prescription and illicit opioids1.
This rise in opioid overdose deaths can be outlined in three distinct waves.
The first wave began with increased prescribing of opioids in the 1990s, with overdose deaths involving prescription opioids (natural and semi-synthetic opioids and methadone) increasing since at least 19993.
The second wave began in 2010, with rapid increases in overdose deaths involving heroin4.
The third wave began in 2013, with significant increases in overdose deaths involving synthetic opioids, particularly those involving illicitly manufactured fentanyl5,6,7. The market for illicitly manufactured fentanyl continues to change, and it can be found in combination with heroin, counterfeit pills, and cocaine.
<br> <br>

                                    </p>
                                    <i>Source: https://www.cdc.gov/opioids/basics/epidemic.html</i>
                                    <br><br>

                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Close Visual
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 3 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{%static 'img/close-icon.svg'%}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Children Affected by Opioids</h2>
                                    <img class="img-fluid d-block mx-auto" src="{%static 'img/Picture1.png'%}" alt="..." />

                                    <p style="text-align: left;">In 2017, the estimate of the number of children affected by the opioid epidemic was 11 times higher than the number with diabetes, exceeded the number with autism, and was about one-third the number with asthma. In 2017, 28 out of every 1,000 children in the United States were affected by opioids.</p>
                                    <i>Source: United Hospital Fund: National and State Estimates
                                        of the U.S. Opioid Epidemic’s
                                        Impact on Children</i>
                                        <br><br>

                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Close Visual
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{%static 'img/close-icon.svg'%}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Financial Cost</h2>

                                    
                                    <img class="img-fluid d-block mx-auto" src="{%static 'img/19696.jpeg'%}" alt="..." />
                                    <p style="text-align:left;">The economic cost of the U.S. opioid epidemic in 2017 was estimated at $1,021 billion, including cost of opioid use disorder estimated at $471 billion and cost of fatal opioid overdose estimated at $550 billion (3). CDC used national-level cost estimates to estimate the state-level economic cost of opioid use disorder and fatal opioid overdose during 2017.</p>
                                    <i>Source: https://www.cdc.gov/mmwr/volumes/70/wr/mm7015a1.html</i>
                                        <br><br>

                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Close Visual
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{%static 'img/close-icon.svg'%}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Death Totals</h2>
                                    <img class="img-fluid d-block mx-auto" src="{%static 'img/US-Opiod-Deaths_SHARE.jpg'%}" alt="..." />

                                    <p style="text-align: left;">Over the last 20 years, the ongoing U.S. opioid crisis has claimed tens of thousands of lives. In fact, opioid overdose deaths accounted for nearly 70% of all drug overdose deaths in 2018.

                                        Although the damage of the opioid epidemic is well documented, what people might not know is that it has escalated in three distinct waves.
                                        
                                        We pull the latest statistics from the UN World Drug Report 2020 to uncover the scope of the opioid crisis in the U.S., and how national drug-related death rates compare to other countries. </p>
                                        
                                        <i>Source: https://www.visualcapitalist.com/the-spiraling-opioid-epidemic-in-america/</i>
                                        <br><br>

                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Close Visual
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    {%endblock%}
