{%extends 'base.html'%}
{% load static %}
{%block content%}

<div class="sidebar"> 
  <div>Menu Item 1</div>
  <div>Menu Item 2</div>
  <div>Menu Item 3</div>
</div>
  
<div class="body-text">
<!-- body content -->
  <div class="body-search">
    <form>
      <input type="search" id="search" placeholder="Search"/>
    </form>
  </div>
  <table class="mytable">
    <tr class="trheader">
      <th>Name</th>
      <th>Gender</th>
      <th>Credentials</th>
      <th>Location</th>
      <th>Specialty</th>
      <th></th>
    </tr>
    <tr>
      <th>Result 1</th>
      <th>Result 2</th>
      <th>Result 3</th>
      <th>Result 4</th>
      <th>Result 5</th>
      <th>Result 6</th>
    </tr>
    <tr>
      <th>Result 1</th>
      <th>Result 2</th>
      <th>Result 3</th>
      <th>Result 4</th>
      <th>Result 5</th>
      <th>Result 6</th>
    </tr>
    <tr>
      <th>Result 1</th>
      <th>Result 2</th>
      <th>Result 3</th>
      <th>Result 4</th>
      <th>Result 5</th>
      <th>Result 6</th>
    </tr>
    <tr>
      <th>Result 1</th>
      <th>Result 2</th>
      <th>Result 3</th>
      <th>Result 4</th>
      <th>Result 5</th>
      <th>Result 6</th>
    </tr>
    <tr>
      <th>Result 1</th>
      <th>Result 2</th>
      <th>Result 3</th>
      <th>Result 4</th>
      <th>Result 5</th>
      <th>Result 6</th>
    </tr>
  </table>
</div>



{%endblock%}

