{%extends 'base.html'%}
{% load static %}
{%block content%}


<div class="sidebar"> 
  <div>
    <br>
    <p>Choose Type</p>
    <form class="search-form" method="POST" action="{% url 'search' %}"> {% csrf_token %}
      <select name="database" id="database">
        <option value="Prescriber">Prescriber</option>
        <option value="Drug">Drug</option>
      </select><br><br>
      <button class="search-form-btn" type="submit">Select</button>
    </form>
  </div>
</div>
  
<!--<div class="body-text">
  <div class="body-search">
    <form>
      <input type="search" id="search" placeholder="Search"/>
    </form>
  </div>
  {% if 'Prescriber' in type %}
  <table class="mytable">
    <tr class="trheader">
      <th>Name</th>
      <th>Gender</th>
      <th>Credentials</th>
      <th>Location</th>
      <th>Specialty</th>
      <th></th>
    </tr>
    {% for row in page_obj %}
      <tr>
        <th>{{row.fname}} {{row.lname}}</th>
        <th>{{row.gender}}</th>
        <th>
          {% for credential in row.prescribercredential %}
            {{credential.credential}}
          {% endfor %}
        </th>
        <th>{{row.state}}</th>
        <th>{{row.specialty}}</th>
        <th><a>Details</a></th>
      </tr>
    {% endfor %}
  </table>
  {{type}}
  {{cred}}
  <div class="right">
    <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
    </div>
  </div>
  {% elif 'Drug' in type %}
  {% else %}
    {{type}}
  {% endif%}
</div>-->



{%endblock%}

