body {
    margin: 0;
}

#mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background-color: #212529;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
}

.masthead>img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -6;
}

.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    left: 0;
    top: 4.5em;
    bottom: 0;
    padding-top: 10px;
    background-color: rgb(236, 236, 236);
    border-right: 3px solid darkgrey;
}

.sidebar div {
    padding: 8px;
    font-size: 18px;
    display: block;
}

.body-text {
    margin-left: 300px;
    font-size: 18px;
    top: 5.5em;
    height: 100%;
    right: 80px;
    display: flex;
    flex-direction: column;
    margin-top: 5.5em;
}

.body-search {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.body-results {
    right: 80px;
    display: flex;
    justify-content: space-evenly;
}

.body-results-light {
    right: 80px;
    display: flex;
    justify-content: space-evenly;
    color: rgb(236, 236, 236);
}

input {
    width: 100%;
}

.mytable {
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}

th {
    border-bottom: 1.5px solid rgb(236, 236, 236);
    padding: 5px;
}

.trheader {
    color: black;
    font-size: larger;
}

tr {
    color: lightgrey;
}


/*==========records page===========*/

.body-records {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.body-text-records {
    padding: 40px 100px;
    font-size: 18px;
    top: 5.5em;
    height: 100%;
    right: 80px;
    display: flex;
    flex-direction: column;
    margin-top: 5.5em;
}

.search-bar-records {
    max-width: 600px;
}


/*==============records page============*/

.record-inner-container {
    padding: 6rem;
}

a.btn.btn-primary.edit-delete {
    float: right;
    margin: 3px;
}

.records-table {
    border: #a7a4a4 1px solid;
    height: 46px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.add-pres-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.record-name {
    margin-right: auto;
    margin-left: 5px;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
    margin-bottom: 5rem;
}

.record-inner-container {
    padding: 3rem 18rem;
}

.add-pres {
    background-color: #008100;
    border-color: #007c00;
}

.edit-btn {
    color: #fff;
    background-color: #0086f9;
    border-color: #0086f9;
}

.del-btn {
    color: #fff;
    background-color: #f10017;
    border-color: #f10017;
}

@media only screen and (max-width: 1411px) {
    .record-inner-container {
        padding: 3rem 1rem;
    }
}

@media only screen and (max-width: 1000px) {
    .record-inner-container {
        padding: 3rem 10rem;
    }
}

@media only screen and (max-width: 666px) {
    .record-inner-container {
        padding: 3rem 1rem;
    }
}


/*=========edit form=========*/

* {
    box-sizing: border-box;
}

.section-form {
    max-width: 37em;
    margin: 3em auto;
    background-color: #f3efe7;
    padding: 2em;
    margin-top: 8rem;
}

.section-form .intro {
    margin-bottom: 2em;
}

.section-form h1 {
    text-align: center;
    margin-bottom: 0.6em;
}

.section-form h2 {
    text-align: center;
}

input[type=text] {
    height: 45px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 1em;
    padding: .5em 1em;
    border: none;
}

input[type=button] {
    cursor: pointer;
    margin: 0;
    padding: .5em 2em;
    background: #636363;
    border: none;
    color: #fff;
}

select {
    display: block;
    margin-bottom: 12px;
    width: 100%;
    height: 45px;
    border: none;
}

.pres-form-sub {
    background-color: #ffc800;
    padding: 10px 34px;
    border: none;
    border-radius: 5px;
}

a.pres-form-sub {
    margin-left: 5px;
    color: black;
    text-decoration: none;
    padding: 11.5px 26px;
    cursor: pointer;
}

.search-form {
    display: flex;
    margin-bottom: 0;
}

#record-search {
    width: 261px;
    margin-right: 6px;
    padding: 0px;
}

.searchselect {
    width: 100%;
    border: 1px solid black;
    border-radius: 12px;
    height: 40px;
}

button[type="submit"] {
    float: right;
    border-radius: 12px;
    background-color: #ffc800;
    border: transparent;
    height: 40px;
}

button[type="submit"]:hover {
    background-color: #cca000;
}

.right {
    float: right;
}

.tab-outer-container {
    margin: 10rem 5rem;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;*/
}

.tab-container2 {
    padding: 1rem;
    overflow: scroll;
    background-color: inherit;
    width: 100vw;
    max-width: 700;
}

.tab-container1 {
    padding: 3rem;
    margin: 0rem 2rem;
    margin-bottom: 5rem;
    box-shadow: 0px 0px 25px -3px rgba(163, 163, 163, 0.79);
    border-radius: 0.5rem;
    max-width: 800px;
    width: 100%;
}

.text-container-tab {
    display: flex;
}

@media only screen and (max-width: 1411px) {
    .text-container-tab {
        display: flex;
        flex-direction: column-reverse;
        /* align-items: center; */
        align-content: center;
    }
    .tab-container1 {
        overflow: scroll;
    }
}