{%extends 'base.html'%}
{% load static %}
{%block content%}

<div class="sidebar"> 
  <div>
    <br>
    <p>Choose Type</p>
    <form method="POST" action="{% url 'search' %}"> {% csrf_token %}
      <select class="searchselect" name="database" id="database">
        <option value="Prescriber">Prescriber</option>
        <option value="Drug">Drug</option>
      </select><br><br>
      <button type="submit">Select</button>
    </form>
  </div>
</div>
  
  {% block results %}
  {% endblock %}

<br><br><br>


{%endblock%}

